bottleneck
brotli
brotli-bin
certifi
cycler
fonttools
freetype
joblib
jpeg
kiwisolver
lcms2
libbrotlicommon
libbrotlidec
libbrotlienc
lz4-c
matplotlib
matplotlib-base
mkl-service
mkl_fft
mkl_random
munkres
numexpr
numpy
numpy-base
olefile
packaging
pandas
pillow
pip
pyparsing
python
python-dateutil
python_abi
pytz
scikit-learn
scipy
setuptools
six
threadpoolctl
tornado
unicodedata2
wheel
zstd